---
---

@import "{{ site.theme }}";

/* Make the whole website wider */
.page-content .wrapper,
.site-header .wrapper,
.site-footer .wrapper,
.wrapper {
  max-width: 1280px;
  padding-left: 32px;
  padding-right: 32px;
}

/* Mobile layout */
@media screen and (max-width: 800px) {
  .page-content .wrapper,
  .site-header .wrapper,
  .site-footer .wrapper,
  .wrapper {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
